body{
    background-image: url(../imagens/fundo.jpg);
    margin: 0;
}


/* ========HEADER======== */

header{
    height: 180px;
}

.div-titulo{
    display: flex;
    justify-content: center;
}

.titulo{
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Bree Serif', serif;
    margin: 0;
    margin-top: 100px;
    font-size: 60px;
}

/* ========MAIN======== */


.div-subtitulo{
    background-color: blue;
    width: 230px;
    margin-left: 565px;
    border-radius: 7px;
}

.subtitulo{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}


.div-main{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 80px;
}

.formulario{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.botao{
    border: 0px solid;
    background-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 21px;
    border-radius: 4px;
}

.mensagem{
    font-family: 'Roboto', sans-serif;
    color: blue;
}

