{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto&display=swap" rel="stylesheet">
    <title>4Gate</title>
</head>

{% block content %}
<body>
    <header>
        <div class="div-titulo">
            <h1 class="titulo">4.Gate</h1>
        </div>
    </header>

    <main>
        <h2 class="subtitulo">Cadastre o carro</h2>

        {% if formulario %}
        <form method="POST"></form>
            {% csrf_token %}
            {{formulario}}
            <button type="submit">Enviar pedido</button>    
        {% endif %}

        {% if msg %}
            <h2>{{msg}}</h2>
        {% endif %}

    </main>
</body>
{% endblock %}